html {
    background-color: #f8f9fa;

}

.portfolio {
    margin-top: 88px;
    z-index: -1;
}

.navbar {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.8);
}

.portfolio h2 {
    padding-top: 50px;
}

.contact {
    margin-top: 50px;
}

.portfolio-box {
    margin: 15px;
}

.card {
    /*margin: 5px;*/
    box-shadow: 5px 5px 5px darkgrey;
}

.card-title {
    text-transform: uppercase;
}

@media  (max-width: 992px) {
    .card-title {
        font-size: 14px;
        font-weight: bold;
    }
}

@media  (max-width: 346px) {
    .card-title {
        font-size: 12px;
        font-weight: bold;
    }
}